#container[data-v-3d21dca2] {
  width: 720px;
  height: 650px;
}
.section-one[data-v-3d21dca2] {
  box-sizing: border-box;
  padding-top: 160px;
  text-align: right;
  background-size: cover;
  background-position: 50%;
  background: url(../../../statics/images/about_1.png) no-repeat 50%;
  background-size: 100%;
  height: 500px;
}
main > section[data-v-3d21dca2] {
  min-width: 1200px;
  overflow: hidden;
}
.section-tag[data-v-3d21dca2] {
  position: relative;
  width: 720px;
  padding: 10px;
  top: 90px;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  overflow-x: auto;
}
.tag_itemactive[data-v-3d21dca2] {
  color: #fff;
  background: #f5c31d;
  border-radius: 2px;
}
.tag_item[data-v-3d21dca2],
.tag_itemactive[data-v-3d21dca2] {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
  min-width: 88px;
}
.tag_item[data-v-3d21dca2] {
  color: #222;
  font-weight: 700;
}
.section-content[data-v-3d21dca2] {
  position: relative;
  width: 1100px;
  margin: auto;
}
.profile .section-title[data-v-3d21dca2] {
  font-size: 30px;
  color: #333;
  text-align: center;
  line-height: 1;
  padding-top: 88px;
  padding-bottom: 19px;
  font-weight: 700;
  letter-spacing: 2px;
}
.profile p[data-v-3d21dca2] {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
  padding-top: 22px;
  color: #333;
  text-indent: 2em;
  text-align: left;
}
.section-two[data-v-3d21dca2] {
  height: 850px;
  position: relative;
}
.section-two .section-left[data-v-3d21dca2] {
  position: absolute;
  width: 720px;
  height: 800px;
  top: 185px;
}
.section-two .section-title[data-v-3d21dca2] {
  font-size: 30px;
}
.section-title[data-v-3d21dca2] {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #333;
}
.section-two .section-left ul[data-v-3d21dca2] {
  padding-top: 27px;
  padding-bottom: 30px;
}
.section-two .section-left a[data-v-3d21dca2] {
  display: block;
  line-height: 52px;
  width: 150px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  border-radius: 6px;
  color: #fff;
  background: #ffde00;
  transition: all 0.5s linear;
}
.section-two .section-right[data-v-3d21dca2] {
  position: absolute;
  width: 320px;
  height: 650px;
  top: 185px;
  right: 0;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}
.homepage_content .homepage_fifth_piece[data-v-3d21dca2] {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 90px;
}
.homepage_content .title_every_plate[data-v-3d21dca2] {
  width: 365px;
  margin: 65px auto 0;
}
.homepage_content .title_every_plate .english_title_text[data-v-3d21dca2] {
  color: #333;
  font: 700 29px stxingka;
  text-align: center;
  margin: 5px auto;
}
.homepage_content .title_every_plate .chinese_title_text[data-v-3d21dca2] {
  color: #333;
  font: 700 29px 微软雅黑;
  text-align: center;
  margin: 0;
}
.homepage_content .title_every_plate .bottom_style_list[data-v-3d21dca2] {
  width: 100%;
  text-align: center;
  height: 0;
  margin-bottom: 27px;
}
.homepage_content
  .title_every_plate
  .bottom_style_list
  .frist_yellow[data-v-3d21dca2] {
  display: inline-block;
  width: 44px;
  height: 3px;
  background-color: #ffd400;
}
.homepage_content
  .title_every_plate
  .bottom_style_list
  .second_bule[data-v-3d21dca2] {
  display: inline-block;
  width: 100px;
  height: 3px;
  background-color: #2284f1;
  margin: 0 5px;
}
.homepage_content
  .title_every_plate
  .bottom_style_list
  .third_red[data-v-3d21dca2] {
  display: inline-block;
  width: 44px;
  height: 3px;
  background-color: #ff3838;
}
.homepage_content .title_every_plate .times_bottom_text[data-v-3d21dca2] {
  text-align: center;
  color: #999;
  font: normal 16px 微软雅黑;
  margin: 36px auto 26px;
}
.section-three .allregion[data-v-3d21dca2] {
  width: 1100px;
  margin: auto;
}
.section-two li[data-v-3d21dca2] {
  font-size: 20px;
  font-weight: lighter;
  line-height: 46px;
  color: #333;
}
.section-three .panel[data-v-3d21dca2] {
  width: 1000px;
  height: 450px;
  margin: auto;
  padding-top: 46px;
  box-shadow: none;
}
.province .region[data-v-3d21dca2]:nth-of-type(odd) {
  width: 535px;
}
.section-three .region-name[data-v-3d21dca2] {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  padding-left: 40px;
  padding-bottom: 20px;
  color: #333;
}
.section-three .region-name .shadow[data-v-3d21dca2] {
  display: block;
  position: absolute;
  width: 20px;
  height: 5px;
  top: 20px;
  left: 2px;
  border-radius: 50%;
  background: #ffde00;
}
.section-three .region-name .sign[data-v-3d21dca2] {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  left: 0;
  top: -25px;
  border: 2px solid #ffde00;
  border-bottom-color: transparent;
  border-radius: 50%;
}
.section-three .region-name .tip[data-v-3d21dca2] {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
.section-three .region-name .tip[data-v-3d21dca2]:before {
  left: 1px;
  transform: rotate(60deg);
  transform-origin: left top;
}
.section-three .region-name .tip[data-v-3d21dca2]:after {
  right: 5px;
  transform: rotate(-60deg);
  transform-origin: right top;
}
.section-three .region-name .tip[data-v-3d21dca2]:after,
.section-three .region-name .tip[data-v-3d21dca2]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  bottom: 7px;
  background: #ffde00;
}
.section-three .region-name .sign[data-v-3d21dca2]:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  top: 3px;
  left: 3px;
  border: 2px solid #ffde00;
  border-radius: 50%;
}
.section-three .region p[data-v-3d21dca2] {
  font-size: 16px;
  line-height: 26px;
  font-weight: lighter;
  color: #333;
}
.province .region[data-v-3d21dca2]:nth-of-type(2n) {
  width: 425px;
}
.province .region[data-v-3d21dca2] {
  height: 150px;
  float: left;
}
.school-box[data-v-3d21dca2] {
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.school-name[data-v-3d21dca2] {
  color: #f5c31d;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}
.school-name-des[data-v-3d21dca2] {
  color: #111a2f;
  padding: 0;
  font-size: 16px;
  margin-top: 4px;
  line-height: 24px;
}

.cell-color-line[data-v-0255bd7e] {
  width: 195px;
  height: 3px;
  margin: 0 auto;
}

.cell-color-line .ea-yellow[data-v-0255bd7e] {
  width: 43px;
  height: 100%;
  background-color: #ffd400;
  float: left;
}

.cell-color-line .ea-blue[data-v-0255bd7e] {
  width: 100px;
  height: 100%;
  margin-left: 5px;
  background-color: #2284f1;
  float: left;
}

.cell-color-line .ea-red[data-v-0255bd7e] {
  width: 43px;
  height: 100%;
  margin-left: 4px;
  background-color: #ff3838;
  float: left;
}
