body{margin:0;}
	.header{margin:0 auto;width:65vw;height:80px;font-size:20px;}
	a{text-decoration:none;}
	.logo{width:270px;height:100%;float:left;background:url(../images/logo.jpg) no-repeat center;}
	.memu{display:block;float:left;width:200px;height:100%;text-align:center;line-height:80px;cursor:pointer;color:#000;}
	.memu:hover{color:#0c8cfa}
	.memu2{background:#0c8cfa;display:block;text-align:center;line-height:40px;width:120px;height:40px;border-radius:20px;float:right;color:#fff !important;cursor:pointer;margin-top:20px;}
	.context{width:100%;}
	.context img{width:100%}
	footer{height:55px;text-align:center;background:#0c8cfa;color:#fff;font-size:14px;line-height:55px;display: flex;justify-content: center;}
	footer a{color:#fff}
	